@{
    ViewBag.Title = "Menu";
}

<h2>Menu</h2>

<div>
    <button onclick="location.href='@Url.Action("Index", "Students")'">Student Management</button>
    <button onclick="location.href='@Url.Action("Index", "Teachers")'">Teacher Management</button>
    <button onclick="location.href='@Url.Action("Index", "Courses")'">Course Management</button>

</div>